<div class="card shadow-3">
    <h5>Scenery: Form for Create User </h5>

</div>


<div class="card shadow-3">
    <h5> Create User </h5>
    
    <form [formGroup]="createUser" (keyup.enter)="saveData(createUser.value)" (ngSubmit)="saveData(createUser.value)">
     
       <div class="p-fluid grid">

        <div class="col-12 md:col-4">
          <app-text-field [label]="'Name'" [control]="createUser.get('name')" [placeholder]="'Name'" [errorMessage]="'This field is required'"></app-text-field>
        </div>

        <div class="col-12 md:col-4"> 
            <app-text-field [label]="'E-mail'" [control]="createUser.get('email')" [placeholder]="'E-mail'" [errorMessage]="'This field is required'" ></app-text-field>
        </div>

        <div class="col-12 md:col-4">
            <app-text-field [label]="'E-mail Confirmation'" [control]="createUser.get('email')" [placeholder]="'E-mail Confirmation'" ></app-text-field>
        </div>

        <div class="col-12 md:col-8">
            <app-text-field [label]="'Address'" [control]="createUser.get('address')" [placeholder]="'Address'"></app-text-field>
        </div>

        <div class="col-12 md:col-4">
            <app-text-field [label]="'Number'" [control]="createUser.get('number')" [placeholder]="'Number'"></app-text-field>
        </div>

       </div>

       <button pButton type="submit" label="Small" icon="pi pi-check" ></button>
    </form>

</div>
